.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* garde ta largeur fixe ici */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
}

button {
  background-color: #1e90ff;
  border: none;
  color: white;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
}

.success {
  color: limegreen;
}

@media screen and (min-width: 1025px) {
  h2 {
    text-align: center;
  }
  form {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }
}
