.section {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  max-width: 850px; /* 2 * 250px + gap */
}

@media (max-width: 768px) {
  .grid{
    grid-template-columns: none;
  }
}